h1{
    font-size: xx-large;
    font-weight: 700;
    padding-left: 0.5rem;
    color: #032D60;
    /* color: rgb(60,194,179); */
}

h2{
    font-size: larger;
    padding-left: 0.5rem;
    font-weight: 600;
    color:#032D60;
}

h3{
    font-size: larger;
    padding-left: 0.5rem;
    font-weight: 600;
    color:#032D60;
}

p{
    color:#51477C;
}

.more-padding{
    padding: var(--slds-g-padding-5, 5.0rem);
}

.deal-summary-p-padding{
    padding-left: var(--slds-g-deal-summary-p-padding, 9px);
}

.justify-space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flexbox{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.c-blue-text{
    color: var(--slds-color-main, #7F63C8);
}

.c-orange-bg{
    background-color: lightyellow;
}

.c-bigger-text{
    font-size: x-small;
}

.c-bolden-text{
    font-weight: bold;
}

.c-bigger-text{
    font-size: large;
}

.dotted-underline{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.custom-width{
    column-width: 20px;
    background-color: #7F63C8;
    color:#7F63C8;
}

.border{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #032D60;
}