h1{
    font-size: large;
    font-weight: 700;
    color: #032D60;
    /* color: rgb(60,194,179); */
}

.flexbox{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.heading-p-padding{
    padding-left: var(--slds-g-deal-summary-p-padding, 9px);
}